# DB
db.sqlite3/

# VS Code
.vscode/
.vscode/*

# Settings
kaft_clone/settings/
kaft_clone/settings/*

# Migrations
*/*/migrations/0*

# Cache:
*/*/__pycache__/
__pycache__/
*.pyc

# Media
media/

# Static
static/
