<div class="card-group" style="display: flex;">
  <div class="card mb-3">
    {% if item.cover_image %}
    <img src="{{ item.cover_image.url }}" alt="Card image" class="card-img-top">
    {% endif %}
    <div class="card-body">
      <p class="card-title">{{ item.title }}
      <p class="card-text">
        {{ item.content }}
      </p>
      </p>
    </div>

    <div class="card-body">
      <a href="#" class="card-link">Fiyat: {{ item.price }}</a>
      <a href="#" class="card-link">Stok Adet: {{ item.stock }}</a>
    </div>

  </div>
</div>